{% extends "base.html" %}

{% block content %}
<h1 class="text-center text-danger">Удалить подразделение</h1>

<div class="container mt-4">
    <p>Вы уверены, что хотите удалить подразделение "{{ object.name }}"?</p>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'department_list' %}" class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</div>
{% endblock %}
