{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Удалить инвентарную карточку</h1>
<p class="text-center">Вы уверены, что хотите удалить инвентарную карточку №{{ object.card_number }}?</p>

<div class="d-flex justify-content-center mt-4">
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger me-2">Удалить</button>
        <a href="{% url 'inventory_card_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
