{% extends "base.html" %}
{% load custom_filters %}


{% block content %}
<h3>Добавить новую запись в {{ model_name }}</h3>
<form method="post">
    {% csrf_token %}
    {% for field in fields %}
    <div class="mb-3">
        <label for="{{ field.name }}" class="form-label">{{ field.verbose_name }}</label>
        
        {% with foreign_key_data as fk_data %}
            {% if field.name in fk_data %}
                <!-- Выпадающий список для ForeignKey -->
                <select class="form-control" id="{{ field.name }}" name="{{ field.name }}">
                    {% for related_obj in fk_data|getitem:field.name %}
                        <option value="{{ related_obj.pk }}">{{ related_obj }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <!-- Поле ввода для остальных полей -->
                <input type="text" class="form-control" id="{{ field.name }}" name="{{ field.name }}">
            {% endif %}
        {% endwith %}
    </div>
{% endfor %}

    <button type="submit" class="btn btn-success">Добавить</button>
</form>
<a href="{% url 'model_tables' %}" class="btn btn-secondary mt-3">Назад</a>
{% endblock %}
