{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<h3>Редактировать запись в {{ model_name }}</h3>
<form method="post">
    {% csrf_token %}
    {% for field in fields %}
        <div class="mb-3">
            <label for="{{ field.name }}" class="form-label">{{ field.verbose_name }}</label>
            {% if field.get_internal_type == "DateField" %}
                <input 
                    type="date" 
                    class="form-control" 
                    id="{{ field.name }}" 
                    name="{{ field.name }}" 
                    value="{{ item|attr:field.name|date:'Y-m-d' }}">
            {% else %}
                <input 
                    type="text" 
                    class="form-control" 
                    id="{{ field.name }}" 
                    name="{{ field.name }}" 
                    value="{{ item|attr:field.name }}">
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>
<a href="{% url 'model_tables' %}" class="btn btn-secondary mt-3">Назад</a>
{% endblock %}
